//location
.location-content{
    padding-top: 96px;
    padding-bottom: 80px;
    @include pad(){
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include mobile(){
        padding-top: 40px;
        padding-bottom: 64px;
    }
    .title{
        color: #000;
        padding-left: 24px;
        border-left: 8px solid #9F1213;
        @include pad(){
            font-size: $font-l;
            line-height: $line-height-72;
        }
        @include mobile(){
            font-size: $font-m;
            line-height: $line-height-36;
        }
    }
    .select-area{
        width: 31.33%;
        margin-bottom: 32px;
        @include pad(){
            width: 60.33%;
            margin-bottom: 40px;
        }
        @include mobile(){
            width: 100%;
        }
    }
    .mark{
        margin-right: 16px;
        display: inline-block;
        width: 38%;
        font-size: $font-m;
        line-height: $line-height-36;
        @include pad(){
            width: 23%;
        }
        @include mobile(){
            width: 37%;
            font-size: 16px;
            line-height: $base-line-height;
        }
    }
    .select-items{
        font-size: 18px;
        line-height: 26px;
        width: 73%;
        padding: 6px 0 6px 12px;
    }
}
.branch-list{
    width: 31.333333%;
    // margin-right: 24px;
    &:nth-child(2){
        margin: 0 3% 48px 3%;
    }
    &:nth-child(5){
        margin: 0 3% 0 3%;
        @include pad(){
            margin: 0;
        }
    }
    // width: 417px;
    // padding: 0 12px;
    // margin-right: 24px;
    @include pad(){
        width: 48%;
        &:nth-child(2n){
            @include pad(){
                margin: 0px 0px 24px 4%;
            }
            @include mobile(){
                margin: 0px 0px 24px 0;
            }
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
    @include mobile(){
        width: 100%;
        margin: 0;
    }
    a{
        &:first-child:hover{
            opacity: 0.6;
        }
    }
    .title{
        font-size: $font-m;
        line-height: $line-height-36;
        color: $thirdtextColor;
        padding: 8px 0 8px 24px;
        border-left: 1px solid $secondborderColor;
        border-right: 1px solid $secondborderColor;
    }
    .branch-intro{
        padding: 8px 24px 0 24px;
        border-top: 1px solid $secondborderColor;
        border-left: 1px solid $secondborderColor;
        border-right: 1px solid $secondborderColor;
        border-bottom: 1px solid $secondborderColor;
        .info{
            margin-left: 12px;
        }
        // span{
        //     border-bottom:2px solid #00000020;
        //     border-left:1px solid #00000020;
        //     border-right:1px solid #00000020;
        // }
    }
    .branch-info{
        font-size: $font-s;
        line-height: $line-height-30;
        color: $thirdtextColor;
    }
    .detail{
        background-color: #000;
        font-size: 19px;
        line-height: 27px;
        color: $secondtextColor;
        padding: 16px 0;
        width: 100%;
        display: block;
    }
}
