$textColor: #650300;
$secondtextColor: #fff;
$thirdtextColor: #212529;
$blog-text-color: #555555;
$bgColor:#AA0601;
$secondbgColor:#FBF2F2;
$borderColor: #DEE2E6;
$secondborderColor: #00000020;
$font-s: 20px;
$font-m: 24px;
$font-l: 48px;
$line-height-21: 21px;
$base-line-height: 24px;
$line-height-30: 30px;
$line-height-36: 36px;
$line-height-72: 72px;
@mixin pad {
    @media(max-width: 992px){
        @content
    }
};
@mixin mobile {
    @media(max-width: 767px){
        @content
    }
}